<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>
          <li><a href="{{ '/manifesto' | prepend: site.baseurl }}">Manifesto</a></li>
          <li><a href="{{ '/cointelligence' | prepend: site.baseurl  }}">Co-intelligence</a></li>
          <li><a href="{{ '/announcements' | prepend: site.baseurl  }}">Announcements</a></li>
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        &copy; {{ site.title }} <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time>. All rights reserved. <p>Made with <i class="fa fa-heart" aria-hidden="true" style="color:#be1931"></i> in Vancouver, BC</p>
      </span>
    </footer>
    {% include foot.html %}
  </body>
</html>
